﻿

.FormBorder
{
    border-width: 1px;
    border-color: #DCECF8;
    border-style: solid;
    margin-top: 3px;
    margin-bottom: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.FormHeader
{
    background-color: #1E88C4;
    color: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    font-weight: Bold;
    height: 20px;
    float: left;
    margin-left: 0px;
    width: 100%;
}
.PopUpHeader
{
    background-color: #1E88C4;
    color: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    font-weight: Bold;
    height: 20px;
    float: left;
    margin-left: 0px;
    width: 100%;
}

.ConfirmHeading
{
    background-color: #1E88C4;
    color: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    font-weight: Bold;
    height: 20px;
    float: left;
    margin-left: 0px;
}

.ConfirmForm
{
    border-width: 2px;
    border-color: Black;
    border-style: solid;
    margin-top: 3px;
    background-color: White;
    width: 98%;
}
.ConfirmBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.ListFormBorder
{
    border-width: 1px;
    border-color: #DCECF8;
    border-style: solid;
    margin-top: 3px;
    margin-bottom: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.SearchFormHeader
{
    background-color: #1E88C4;
    color: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    font-weight: Bold;
    height: 20px;
    float: left;
    margin-left: 0px;
    width: 100%;
}
.ListGrid
{
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 10px; /* background-image: url('../Images/Smalllogo.jpg');*/
}

.div_Search_panel
{
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 100%;
}



/*


.mGrid { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; }
    .mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; }
    .mGrid th { padding: 4px 2px; color: #fff; background: #424242 url(grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 0.9em; }
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }

*/

.mGrid
{
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 0px #000;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    color: White;
}
.mGrid td
{
    padding: 2px;
    border: solid 0px Black;
    color: #333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
}
.mGrid th
{
    padding: 4px 2px;
    color: #505050;
    background: #DCECF8;
    border-left: solid 0px #000;
    font-size: 0.9em;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    font-weight: bold;
}

.mGrid .alt
{
    background: #EAEAEA;
}
.mGrid .pgr
{
    background: #DCECF8;
}
.mGrid .pgr table
{
    margin: 5px 0;
}
.mGrid .pgr td
{
    border-width: 0;
    paddinsg: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #505050;
    line-height: 12px;
}
.mGrid .pgr a
{
    color: #505050;
    text-decoration: none;
}
.mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}


.GridHeader
{
    background-color: #1D4E76;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.Grid
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #333;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
}

.GrdAltRow
{
    background-color: #DFDFDF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #333;
}
.GrdRowStyle
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #fff;
}
.EmptyRowStyle
{
    text-align: center;
    background-color: #1D4E76;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
}


