﻿.total
{
    width: 100%;
}
.header
{
    border-left: 1px solid #aac1dd;
    border-right: 1px solid #aac1dd;
    border-top: 1px solid #aac1dd;
    width: 100%;
    height: 80px;
    position: relative;
    background-color :White;
}
.HeaderLeft
{
    width: 20%;
    height:100%;
    float: left;
  
  
}
.HeaderCentre
{
    width: 60.5%;
    height:100%;
    float: left;
  
  
}
.HeaderRight
{
    width: 39.5%;
    height:100%;   
    float: right;
    background-color : rgb(63,63,63);
}
.sitetitle
{
    width: 200px;
    float: left;
}
.logobox
{
    width: 100%;
    height: 99%;
    margin-left: 0.2%;
    float: left;
}

.div_menu
{
    border: 1px solid #DCECF8;
    width: 100%;
    height: 3.5%;
    background-color: #DCECF8;
}
.container
{
    border-left: 1px solid #aac1dd;
    border-right: 1px solid #aac1dd;
    border-top: 1px solid #aac1dd;
    width: 100%;
    height: 85%;
    background-color: #fff;
}


.frames
{
    width: 100%;
    height: 100%;
}

.Frame_left
{
    width: 18%;
    height: 100%;
    float: Left;
}
.centre
{
    border-left: 1px solid #ccd5ff;
    border-right: 1px solid #ccd5ff;
    width: 81%;
    height: 100%;
    float: left;
}
.Frame_right
{
    width: 15%;
    height: 100%;
    float: Right;
}
.footer
{
    border: 1px solid #aac1dd;
    width: 100%;
    height: 5%;
    background-color: #062a44;
}

