﻿
.menu_list
{
    width: 100%;
    color: rgb(255,255,255);
}
.menu_head
{
    padding: 1px;
    cursor: pointer;
    position: relative;
    margin: 1px;
    font-weight:normal;
    background-color: rgb(71,71,71);
    font-family: Tahoma,Verdana;
    font-size: 13px; /*background:	#FFCCCC url(left.png) center right no-repeat;*/ /*background:pink url(left.png) center right no-repeat;*/ /*background: #F5FFFA url(left.png) center right no-repeat;*/
}

.menu_body
{
    display: none;
}
.menu_body ul
{
    padding-left: 10px;
}
.menu_body ul li
{
    list-style: none;
}
.menu_body a
{
    margin-right: 5%;
    display: block;
    color: Black;
    background-color: White;
    padding-left: 1px;
    width: 100%;
    font-family: Tahoma,Verdana;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
}
.menu_body a:hover
{
    color: rgb(182,209,94);
    text-decoration: underline;
    font-weight: bolder;
}
.menu_body a:focus
{
    color: rgb(182,209,94);
    text-decoration: underline;
    font-weight: bolder;
}
