﻿a
{
    cursor: pointer;
    cursor: hand;
}
.divFormcontainer
{
    background-color: White;
    border: 1px solid White; /*background-color : #EAEAEA ;*/
}
.divRowContainer
{
}
.divClear_10
{
    clear: both;
    height: 5px;
    width: 1000px;
}
.divClear_20
{
    clear: both;
    height: 10px;
}
.divClear_40
{
    clear: both;
    height: 40px;
}
.LNOrient
{
    float:right ;
}
.lblBox
{
    font-family: Verdana;
    font-size: 12px;
    color: Black;
    text-align: right;
    padding-top: 3px;
    padding-left: 10px;
}
.SearchlblBox
{
    font-family: Verdana;
    font-size: 12px;
    color: White;
    text-align: left;
    padding-top: 3px;
    padding-left: 10px;
}
.colspace
{
    width: 10px;
}
.colspace_20
{
    width: 20px;
}
.colspace_30
{
    width: 30px;
}
.divtxtBox
{
    padding-left: 5px;
    font-family: Verdana;
    font-size: 12px;
}
.txtBox
{
    font-family: Verdana;
    font-size: 12px;
    color: Black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10,158,243);
    width: 98%;
    padding: 2px 2px 2px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    text-align: right ;
}
.txtBox_en
{
    font-family: Verdana;
    font-size: 12px;
    color: Black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10,158,243);
    width: 98%;
    padding: 2px 2px 2px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    text-align: left;
}
.txtBox_ol
{
    font-family: Verdana;
    font-size: 12px;
    color: Black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10,158,243);
    width: 98%;
    padding: 2px 2px 2px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    text-align: right;
}

.DisplayFont
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
}
.RequiredField
{
    /* background-color: rgb(131,211,164); */
    background-color: rgb(217,219,221);
}
.ddlStype
{
    border-color: inherit;
    border-width: 1px;
    font-weight: normal;
    color: Black;
    border-style: solid;
    padding: 2px 2px 2px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 27px;
    width: 105%;
}

.NRddlStype
{
    border-color: inherit;
    border-width: 1px;
    font-weight: normal;
    color: Black;
    border-style: solid;
    padding: 2px 2px 2px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 27px;
    width: 105%;
}
.EntryFont
{
    font-family: Verdana,Arial, Helvetica;
    font-size: 12px;
}
.txtBox_N
{
    font-family: Verdana;
    font-size: 12px;
    color: Black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10,158,243);
    text-align: right;
    width: 98%;
    padding: 2px 2px 2px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
}
.LongtxtBox
{
    font-family: Verdana;
    font-size: 12px;
    color: Black;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
    width: 780px;
}
.divChkbox
{
    padding-left: 5px;
}

.SaveTable
{
}
.ReportTable
{
}
.btn
{
}

.btnProcess
{
    float: right;
}
.divClear_4
{
    clear: both;
    height: 4px;
}
.divRow
{
    border-style: solid;
    border-width: 1px;
    border-color: Black;
    height: 30px;
    border-spacing: 4px;
}
.divAction
{
    float: right;
    display: none;
}

.divReportAction
{
    float: right;
}
.ConfirmForm
{
    border-width: 0px;
    border-color: Black;
    border-style: solid;
    margin-top: 3px;
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.PopUpHeader
{
    background-color: #1E88C4;
    color: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    font-weight: Bold;
    height: 20px;
    float: left;
    margin-left: 0px;
    width: 100%;
}

.ConfirmBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.msg
{
    font-family: Verdana;
    font-size: 12px;
}
.msgClose
{
    width: 25px;
    height: 25px; /*background-image :URL('../Images/msg-close.png');*/
}
h1
{
    font-size: 24px;
    font-family: Verdana;
}

