﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/FINMaster.Master" AutoEventWireup="true"
    CodeBehind="PermissionReportParam.aspx.cs" Inherits="FIN.Client.HR_Reports.PermissionReportParam" %>

<%@ MasterType VirtualPath="~/MasterPage/FINMaster.Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FINContent" runat="server">
    <div class="divFormcontainer" style="width: 700px" id="div1">
        <div class="divRowContainer">
            <div class="divRowContainer">
                <div class="lblBox LNOrient" style="width: 150px" id="Div3">
                    Department Name
                </div>
                <div class="divtxtBox  LNOrient" style="width: 450px">
                    <asp:DropDownList ID="ddlDepartmentName" runat="server" TabIndex="1" CssClass="ddlStype"
                        AutoPostBack="true" OnSelectedIndexChanged="ddlDepartmentName_SelectedIndexChanged">
                    </asp:DropDownList>
                </div>
            </div>
            <div class="divClear_10">
            </div>
            <div class="divRowContainer">
                <div class="lblBox LNOrient" style="width: 150px" id="lblPeriodID">
                    Employee Name
                </div>
                <div class="divtxtBox  LNOrient" style="width: 450px">
                    <asp:DropDownList ID="ddlEmployeeName" runat="server" TabIndex="2" CssClass="ddlStype">
                    </asp:DropDownList>
                </div>
            </div>
            <div class="divClear_10">
            </div>
            <div class="divRowContainer">
                <div class="lblBox LNOrient" style="width: 150px" id="lblDate">
                    From Date
                </div>
                <div class="divtxtBox  LNOrient" style="width: 150px">
                    <asp:TextBox ID="txtFromDate" runat="server" TabIndex="3" CssClass="txtBox"></asp:TextBox>
                    <cc2:CalendarExtender runat="server" Format="dd/MM/yyyy" ID="calExtender1" TargetControlID="txtFromDate"
                        OnClientDateSelectionChanged="checkDate" />
                </div>
                <div class="colspace  LNOrient" >
                &nbsp</div>
                <div class="lblBox LNOrient" style="width: 150px" id="Div2">
                    To Date
                </div>
                <div class="divtxtBox  LNOrient" style="width: 150px">
                    <asp:TextBox ID="txtToDate" runat="server" TabIndex="4" CssClass="txtBox"></asp:TextBox>
                    <cc2:CalendarExtender runat="server" Format="dd/MM/yyyy" ID="CalendarExtender1" TargetControlID="txtToDate"
                        OnClientDateSelectionChanged="checkDate" />
                </div>
            </div>
            <div class="divClear_10">
            </div>
            <div class="divRowContainer">
                <div class="lblBox LNOrient" style="width: 150px">
                    From Late in minutes
                </div>
                <div class="divtxtBox  LNOrient" style="width: 150px">
                    <asp:TextBox ID="txtFromLatemin" runat="server" TabIndex="4" CssClass="txtBox_N"
                        FilterType="Numbers"></asp:TextBox>
                    <cc2:FilteredTextBoxExtender ID="FilteredTextBoxExtender1" runat="server" FilterType="Numbers"
                        ValidChars="." TargetControlID="txtFromLatemin" />
                </div>
                <div class="colspace  LNOrient" >
                &nbsp</div>
                <div class="lblBox LNOrient" style="width: 150px">
                    To Late in Minutes
                </div>
                <div class="divtxtBox  LNOrient" style="width: 150px">
                    <asp:TextBox ID="txtToLatemin" runat="server" TabIndex="5" CssClass="txtBox_N" FilterType="Numbers"></asp:TextBox>
                    <cc2:FilteredTextBoxExtender ID="FilteredTextBoxExtender2" runat="server" FilterType="Numbers"
                        ValidChars="." TargetControlID="txtToLatemin" />
                </div>
            </div>
            <div class="divClear_10">
            </div>
            <div class="divRowContainer" style="display: none">
                <div class="lblBox LNOrient" style="width: 150px">
                    From Early Out in minutes
                </div>
                <div class="divtxtBox  LNOrient" style="width: 150px">
                    <asp:TextBox ID="txtFromEarly" runat="server" TabIndex="4" CssClass="txtBox_N" FilterType="Numbers"></asp:TextBox>
                    <cc2:FilteredTextBoxExtender ID="FilteredTextBoxExtender3" runat="server" FilterType="Numbers"
                        ValidChars="." TargetControlID="txtFromEarly" />
                </div>
                <div class="colspace  LNOrient" >
                &nbsp</div>
                <div class="lblBox LNOrient" style="width: 150px">
                    To Early Out in Minutes
                </div>
                <div class="divtxtBox  LNOrient" style="width: 150px">
                    <asp:TextBox ID="txtToEarlyOut" runat="server" TabIndex="5" CssClass="txtBox_N" FilterType="Numbers"></asp:TextBox>
                    <cc2:FilteredTextBoxExtender ID="FilteredTextBoxExtender4" runat="server" FilterType="Numbers"
                        ValidChars="." TargetControlID="txtToEarlyOut" />
                </div>
            </div>
            <div class="divClear_10">
            </div>
            <div class="divFormcontainer" style="width: 370px" id="divMainContainer">
                <div class="divRowContainer divReportAction">
                    <table class="ReportTable">
                        <tr>
                            <td>
                                <asp:ImageButton ID="btnSave" runat="server" ImageUrl="../Images/show-report-icon.png"
                                    OnClick="btnSave_Click" Width="35px" Height="25px" Style="border: 0px" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FINBottom" runat="server">
    <script src="../LanguageScript/HR/HRChangeLang.js" type="text/javascript"></script>
  
    <script type="text/javascript">
        $(document).ready(function () {
            fn_changeLng('<%= Session["Sel_Lng"] %>');
        });

        $(document).ready(function () {
            $("#form1").validationEngine();
            return fn_SaveValidation();
        });

        var prm = Sys.WebForms.PageRequestManager.getInstance();
        prm.add_endRequest(function () {
            return fn_SaveValidation();
        });

        function fn_SaveValidation() {
            $("#FINContent_btnSave").click(function (e) {
                //e.preventDefault();
                return $("#form1").validationEngine('validate')
            })
        }

    </script>
</asp:Content>
