﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DashBoard_LN.aspx.cs" Inherits="FIN.Client.LN_DASHBOARD.DashBoard_LN" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .frmStyle
        {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: 0px solid red;
            top: 0;
            left: 0;
        }
        .frmdiv
        {
            border: 1px solid aqua;
            float:left;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="divDashboard">
        <%--<div id="divTopCustomer" class="frmdiv" style="width: 500px; height: 350px;">
            <iframe id="frm_TopCustomer" class="frmStyle" src="ARTopCustomers_DB.aspx" scrolling="no">
            </iframe>
        </div>
        <div id="divInvoiceReceiv" class="frmdiv" style="width: 500px; height: 350px;">
            <iframe id="frm_InvReceiv" class="frmStyle" src="ARInvoiceReceived_DB.aspx" scrolling="no">
            </iframe>
        </div>
        <div id="divAA" class="frmdiv" style="width: 500px; height: 350px;">
            <iframe id="frm_AA" class="frmStyle" src="ARAgingAnalysis_DB.aspx" scrolling="no">
            </iframe>
        </div>
        <div id="divCusSOA" class="frmdiv" style="width: 500px; height: 350px;">
            <iframe id="frmCusSOA" class="frmStyle" src="ARCustomerSOA_DB.aspx" scrolling="no">
            </iframe>
        </div>--%>
    </div>
    </form>
</body>
</html>
