﻿ .carousel
{
    padding: 10px 0 0 0;
    margin: 0 0 20px 10px;
    position: relative;
}
 .digg
{
    position: absolute;
    left: 610px;
    top: 110px;
}
 .main
{
    margin-left: 40px;
}

 .demo em
{
    color: #FF3300;
    font-weight: bold;
    font-size: 60%;
    font-style: normal;
}
 .carousel button
{
    /*Don't remove this. we still use this for individual demos. only the front pages use images as of now*/
    float: left;
}
 .carousel a.prev,  .carousel a.next
{
    display: block;
    float: left;
    width: 30px;
    height: 100px;
    text-decoration: none;    
    background: url("../../Images/Module/imageNavLeft.png") left 30px no-repeat;
}
 .carousel a.next
{
    background: url("../../Images/Module/imageNavRight.png") right 30px no-repeat;
}
 .carousel a.next:hover
{
    background-image: url("../../images/Module/imageNavRightHover.png");
}
 .carousel a.prev:hover
{
    background-image: url("../../images/Module/imageNavLeftHover.png");
}
 .carousel a:hover,  .carousel a:active
{
    border: none;
    outline: none;
}
 .carousel .jCarouselLite
{
    border: 0px solid black;
    float: left;
    background-color: white; /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}
 .carousel ul
{
    margin: 0;
}
 .carousel li img,  .carousel li p
{
    background-color: #fff;
    width: 150px;
    height: 100px;
    margin: 10px;
}

 .widget img
{
    cursor: pointer;
}
 .mid
{
    margin-left: 80px;
    width: 400px;
    height: 300px;
}
 .vertical
{
    margin-left: 170px;
}
 .vertical .jCarouselLite
{
    /* so that in IE 6, the carousel div doesnt expand to fill the space */
    width: 170px;
}
 .imageSlider li img,  .imageSlider li p,  .imageSliderExt li img,  .imageSliderExt li p
{
    width: 400px;
    height: 300px;
}
